/* Common */
.admon {
	padding: 0 1em;
}

.admon >h1,
.admon >h2,
.admon >h3,
.admon >h4,
.admon >h5,
.admon >h6
{
	font-size: 2.5rem;
}

.admon >h1::before,
.admon >h2::before,
.admon >h3::before,
.admon >h4::before,
.admon >h5::before,
.admon >h6::before
{
	display: inline-block;
	font-size: 1em;
	margin: 0 0.5rem 0 0;
}

/* Note */
.admon.note {
	border-left: 0.5rem #5be solid;
}

.admon.note >h1,
.admon.note >h2,
.admon.note >h3,
.admon.note >h4,
.admon.note >h5,
.admon.note >h6
{
	color: #5be;
}

.admon.note >h1::before,
.admon.note >h2::before,
.admon.note >h3::before,
.admon.note >h4::before,
.admon.note >h5::before,
.admon.note >h6::before
{
	content: "NOTE:";
	color: #5be;
}

/* Tip */
.admon.tip {
	border-left: 0.5rem #5be solid;
}

.admon.tip >h1,
.admon.tip >h2,
.admon.tip >h3,
.admon.tip >h4,
.admon.tip >h5,
.admon.tip >h6
{
	color: #5be;
}

.admon.tip >h1::before,
.admon.tip >h2::before,
.admon.tip >h3::before,
.admon.tip >h4::before,
.admon.tip >h5::before,
.admon.tip >h6::before
{
	content: "TIP:";
	color: #5be;
}

/* Important */
.admon.important {
	border-left: 0.5rem #ea5 solid;
}

.admon.important >h1,
.admon.important >h2,
.admon.important >h3,
.admon.important >h4,
.admon.important >h5,
.admon.important >h6
{
	color: #ea5;
}

.admon.important >h1::before,
.admon.important >h2::before,
.admon.important >h3::before,
.admon.important >h4::before,
.admon.important >h5::before,
.admon.important >h6::before
{
	content: "IMPORTANT:";
	color: #ea5;
}
